<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.masistakipVTConnectionString"
            connectionString="Data Source=WONDER-WONDER\SQLEXPRESS;Initial Catalog=masistakipVT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>